---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="fr-FR">
	<head>
		<BaseHead title="Accueil" />
	</head>
	<body>
		<Header />
		<main>
			<h1>Il semble que vous soyez au mauvais endroit...</h1>
			<pre><code lang="en">404 - Page not found</code></pre>
      <a href="/">Retour à l'accueil</a>
		</main>
		<Footer />
	</body>
</html>
