---
import Base from '../layouts/Base.astro';
---

<Base title="Page non trouvée, erreur 404">
  <h1>Il semble que vous soyez au mauvais endroit...</h1>
  <pre><code lang="en">404 - Page not found</code></pre>
  <a href="/">Retour à l'accueil</a>
</Base>
