---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/a-propos">À propos</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://github.com/withastro/astro" target="_blank">
				Go to Astro's GitHub repo
			</a>
		</div>
	</nav>
</header>
