---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<HeaderLink href="/">Accueil</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/a-propos">À propos</HeaderLink>
	</nav>
</header>
