---
import type { Props as BaseHeadProps } from '../components/BaseHead.astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE } from '../consts';

type Props = Partial<BaseHeadProps>;

const props = Astro.props;
---

<html lang="fr-FR">
	<head>
    <slot name="head">
      <BaseHead title={SITE_TITLE} {...props} />
    </slot>
	</head>

	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
